$dark-background: #2B3E4D;
$dark-grey: #758693;
$light-grey: #ABB4BB;
$neon-blue: #00FFFF;

.neon-blue {
  color: $neon-blue;
}
.dark-grey-font {
  color: $dark-grey;
}
.light-grey-font {
  color: $light-grey;
}